/* =======common======== */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-style: normal;
}

:root {
  --primary__color: #2e80ce;
  --primary-text__color: #10375c;
  --secondary-text__color: #575f66;

  --footer-desc__color: #a9b3bb;
}

a {
  text-decoration: none;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 300;
}

ul {
  list-style: none;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 60px;
  background-color: #2e80ce;
  color: white !important;
  border-radius: 30px;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.desc {
  color: #575f66;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}

img {
  object-fit: cover;
}
/* header */

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.header {
  background-color: var(--primary-text__color);
}
.header a {
  color: #c9d2da;
  line-height: 1.75;
}

.nav__list {
  display: flex;
  gap: 42px;
}

.nav__link {
  position: relative;
}

.nav__link.active,
.nav__link:hover {
  color: white;
  text-shadow: 0.6px 0 0 white;
}

.nav__link.active::before {
  position: absolute;
  content: "";
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  bottom: 7px;
  left: -11px;
}

.header__cta {
  display: flex;
  gap: 28px;
  align-items: center;
}
.header__singup--btn {
  width: 104px;
  height: 44px;
  border-radius: 22px;
  font-size: 1.4rem;
  line-height: 1.75;
}

/* hero */

.hero {
  background-color: var(--primary-text__color);
  padding: 46px 0 0 0;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 110px 0;
}

.hero__info {
  width: 44.18%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
  margin-bottom: 22px;
}

.hero__desc {
  color: #c9d2da;
  margin-bottom: 38px;
}
.hero__cta {
  display: flex;
  align-items: center;
  gap: 38px;
}

.phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
}

.hero__img--small {
  width: 210px;
  height: 410px;
  margin: 65px 0;
}
